{% extends 'base.html.twig' %}

{% block title %}Les entrées{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>
      Les Entrées
       {% if ingredients.getTotalItemCount %}
           ({{ ingredients.getTotalItemCount }})
        {% else %}
            Pas d'entrées
        {% endif %}
    </h1>

   
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            <th scope="col">Voir</th>
          </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr class="table-primary">
                    <td scope="row">{{ ingredient.nom }}</td>
                    <td>{{ ingredient.prix }}</td>
                    <td>{{ ingredient.createdAt|date("d/m/Y") }}</td>
                    <td>
                      <a href="{{ path('vue' , {id : ingredient.id})}}" class="btn btn-info">Voir</a>
                    </td>
                   
                </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="navigation d-flex justify-content-center">
        {% if ingredients.getTotalItemCount %}
            {{ knp_pagination_render(ingredients,
              '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        {% endif %}
      </div>
</div>
{% endblock %}
